<div *ngIf="!showGrid" class="input-container">
  <input type="password" [(ngModel)]="passWord" (change)="checkPassword()" id="userPassword" placeholder="Enter Password">
  <div *ngIf="errorMessage && passWord !== '' " class="text-danger" style="margin-bottom: 10px;">
    {{errorMessage}}
</div>
  <button type="button"   class="detail-button" [disabled]="passWord === ''" (click)="submit()">Submit</button>
</div>
<div *ngIf="showGrid" class="grid-card-container">
 
    <div class="grid-card" *ngIf="isBrowser || isBrowser">
      <div style="width: 97%; margin-top: 10px; display: flex; justify-content: flex-start;">
        <label for="categorySelect" style="margin-right: 10px;">Select Category:</label>
        <select id="categorySelect" style="width: 10%;" (change)="onCategoryChange($event)">
          <option value ="" disabled selected>Select Category</option>
            <option value="girls">Girls</option>
            <option value="boys">Boys</option>
            <option value="kids">Kids</option>
            <option value="ladies">Ladies</option>
        </select>
    </div>
        <ag-grid-angular
        style="width: 97%; height: 85%; margin-top: 5px;"
      class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="colDefs" 
        (gridReady)="onGridReady($event)"/>

        <button type="button" class="bottom-right-button logout" (click)="logoutUser()" style=" margin-right: 170px;">Logout</button>
        <button type="button" class="bottom-right-button export" (click)="exportExcel()" style=" margin-right: 80px;">Export</button>
        <button type="button" class="bottom-right-button" (click)="back()">Back</button>
    </div>
  </div>

 
