<div class="wallpaper-container">

    <div class="wallpaper-slideshow"></div>
    <div class="card-container">
        <div class="card card-large">
            <!-- Card content here -->
            <div class="card-title">UDAAN</div>
            <img src="assets/udaanLogo.png" alt="Your Image" class="card-image">
            <div class="card-content">
            <h6>The most prestigious <b>garba </b>event in Wardha</h6>
        </div>
        <Div class="button-container">
            <button class="card-button green" (click)="clickRegister()" >Register</button>
            <button class="card-button purple" (click)="clickVerify()" >Verify</button>
            <!-- <button class="card-button purple" (click)="clickDataGrid()" >grid</button> -->
        </Div>
        </div>  
        <div class="card card-small">
            <h3 class="sponsor-title">Our Sponsors</h3>
            <div id="sponsorCarousel" class="carousel slide"  data-bs-ride="carousel">
              <div class="carousel-inner" style="align-items: center;">
                <div class="carousel-item active">
                  <img src="assets/barbian.jpg" class="d-block" alt="Sponsor 1">
                </div>
                <div class="carousel-item">
                  <img src="assets/radiance.jpg" class="d-block" alt="Sponsor 2">
                </div>
                <div class="carousel-item">
                  <img src="assets/jweller.jpg" class="d-block" alt="Sponsor 3">
                </div>
                <div class="carousel-item">
                  <img src="assets/shrungar.jpg" class="d-block" alt="Sponsor 4">
                </div>
                <div class="carousel-item">
                  <img src="assets/makers.jpg" class="d-block" alt="Sponsor 4">
                </div>
                <div class="carousel-item">
                  <img src="assets/solar.jpg" class="d-block" alt="Sponsor 4">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#sponsorCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#sponsorCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
        <div class="card card-contacts">
          <span>Contact Us</span>
          <div class="icons-container">
            <a href="tel:+8087075149" class="icon-link">
                <i class="bi bi-telephone-fill" style=" size: 0cap;" title="call"></i>
            </a>
            <a href="https://chat.whatsapp.com/CQSB3sUvR8g67OH8trhZPR" target="_blank" class="icon-link" title="WhatsApp">
                <i class="bi bi-whatsapp"></i>
            </a>
            <a href="mailto:sumiturkudkar@udaangarba.com" class="icon-link" title="Email">  
                <i class="bi bi-envelope-fill"></i>
            </a>
        </div>
        <p style=" margin-top: 5px;">Shiv vaibhav hall, bachelor road Wardha- 442001</p>

        </div>
       
        <!-- Add more cards as needed -->
    </div>  
    

</div>

          