.form-group {
    label {
      font-weight: bold;
      color: #333;
    }
    
        margin-bottom: 1rem; /* Space between rows */
    
  
    .text-danger {
      margin-top: 0.25rem;
      font-size: 0.875rem;
    }
}

.form-buttons .row {
    display: flex;
    justify-content: space-between; /* Align buttons to edges */
  }

  .container {
    background-color: aliceblue;
    height: 100%;
    max-width: 100%;
    position: absolute;
  }

 

  .btn-primary:hover{
    filter: brightness(0.6);
  }

  .loader {
    display: block;
    margin: 20px auto;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Success Popup Styling */
.success-popup {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #28a745;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Default width */
  width: 100%; /* Ensure it takes up full width but maxes out at 400px */
}

.success-popup button {
  margin-top: 10px;
  background-color: #fff;
  color: #28a745;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width:768px) {
  .container {
    // background-color: aliceblue;
    max-height: 200%;
    position: relative;
  }
  .success-popup {
    max-width: 80%;
  }
}

  

