<div class="container ">
    <h2 style="text-align: center;">Registration Form</h2>
    
    <form [formGroup]="form" (ngSubmit)="formSubmit()">
        <div class="row">
        <div class="form-group col-md-6">
            <label>First Name</label>
            <input [class.is-invalid]="form.get('firstName')?.invalid && form.get('firstName')?.touched" type="text" id="firstName" formControlName="firstName" class="form-control">
            <div *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched" class="text-danger" >
                first name is required
            </div>
        </div>
        <div class="form-group col-md-6">
                <label>Last Name</label>
                <input  [class.is-invalid]="form.get('lastName')?.invalid && form.get('lastName')?.touched" type="text" class="form-control" formControlName="lastName">
                <div *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched" class="text-danger" >
                    last name is required
                </div>
            </div>
          <!-- <div class="form-group col-md-6">
            <label>Last Name</label>
            <input type="text" formControlName="userName" class="form-control">  
        </div> -->
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Mobile No</label>
            <input [class.is-invalid]="form.get('mobileNo')?.invalid && form.get('mobileNo')?.touched" type="tel" class="form-control" id="mobileNo" formControlName="mobileNo">
            <div *ngIf="form.get('mobileNo')?.invalid && form.get('mobileNo')?.touched" class="text-danger">
                mobile number is required
              </div>
              <div *ngIf="form.get('mobileNo')?.errors?.['pattern']" class="text-danger">
                Enter a valid mobile number (only digits allowed).
              </div>
              <div *ngIf="form.get('mobileNo')?.errors?.['minlength']" class="text-danger">
                Mobile number must be at least 10 digits long.
              </div>
              <div *ngIf="form.get('mobileNo')?.errors?.['maxlength']" class="text-danger">
                Mobile number must be exactly 10 digits long.</div>
        </div>
        <div class="form-group col-md-6">
            <label for="batchTime">Select Batch Time</label>
            <select [class.is-invalid]="form.get('batchTime')?.invalid && form.get('batchTime')?.touched" id="batchTime" class="form-select" formControlName="batchTime">
                <option value="" disabled selected>Select batch</option>
                <option value="1.30PM to 3.00PM">1.30PM to 3.00PM</option>
                <option value="3.00PM to 4.30PM">3.00PM to 4.30PM</option>
                <option value="4.30PM to 6.00PM">4.30PM to 6.00PM</option>
                <option value="6.00PM to 7.30PM">6.00PM to 7.30PM</option>
                <option value="7.30PM to 9.00PM">7.30PM to 9.00PM</option>
            </select>
            <div *ngIf="form.get('batchTime')?.invalid && form.get('batchTime')?.touched" class="text-danger">
                Batch time is required.
              </div>
        </div>
       
    </div>
    <div class="row">
        <div class="form-group col-md-6">
           
            <label>Category</label>
            <div style="display: flex; gap: 2%;">
            <div class="form-check">
                <input class="form-check-input" type="radio" id="kids" formControlName="gender" value="Kids">
                <label class="form-check-label" for="kids">Kids</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="girls" formControlName="gender" value="Girls">
                <label class="form-check-label" for="girls">Girls</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="ladies" formControlName="gender" value="Ladies">
                <label class="form-check-label" for="ladies">Ladies</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="boys" formControlName="gender" value="Boys">
                <label class="form-check-label" for="boys">Boys</label>
            </div>
        </div>
       
        </div>
        <div class="form-group col-md-6">
            <label for="age">Age</label>
            <select style="width: 50%;" id="age" [class.is-invalid]="form.get('age')?.invalid && form.get('age')?.touched"
                class="form-select" formControlName="age">
                <option value="" disabled selected>Choose your age</option>
                <option *ngFor="let age of ageOptions" [value]="age">{{age}}</option>
            </select>
            <div *ngIf="form.get('age')?.invalid && form.get('age')?.touched" class="text-danger">
                Age is required.
            </div>
        </div>
    </div>
    <div class="row">
    <div class="form-group col-md-6">
        <label for="address">Address</label>
  <textarea class="form-control" id="address" rows="3" formControlName="address"></textarea>
    </div>
    <div *ngIf="isAdmin" class="form-group col-md-6">
        <label for="payment">Select Payment</label>
        <select style="width: 50%;" [class.is-invalid]="form.get('payment')?.invalid && form.get('payment')?.touched" id="payment" class="form-select" formControlName="payment">
            <option value="" disabled selected>Select payment</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="kids">KIDS</option>
            <option value="group">GROUP</option>
            <option value="solo">SOLO</option>
        </select>
        <div *ngIf="form.get('payment')?.invalid && form.get('payment')?.touched" class="text-danger">
            Payment is required.
          </div>
    </div>
    </div>
    <div *ngIf="isAdmin" class="form-group col-md-6">
        <label for="photo">Capture Photo</label>
        <input  [class.is-invalid]="photoError !== null" type="file" id="photo"  class="form-control"  accept="image/*" capture="user" (change)="onFileSelected($event)">
        <!-- <div *ngIf="form.get('photo')?.invalid && form.get('photo')?.touched" class="text-danger">
            photo is required.
          </div> -->
          <div *ngIf="photoExist">photo uploaded</div>
        <div *ngIf="photoError" class="text-danger">{{photoError}}</div>
    </div>
    <div *ngIf="!isAdmin" class="form-group col-md-6">
        <label for="photo">Capture Photo</label>
        <input  [class.is-invalid]="photoError !== null" type="file" id="photo"  class="form-control"  accept="image/*"  (change)="onFileSelected($event)">
        <!-- <div *ngIf="form.get('photo')?.invalid && form.get('photo')?.touched" class="text-danger">
            photo is required.
          </div> -->
          <div *ngIf="photoExist">photo uploaded</div>
        <div *ngIf="photoError" class="text-danger">{{photoError}}</div>
    </div>
    <div *ngIf="showError" class="text-danger">{{errorMessage}}</div>
    <div *ngIf="!isAdmin">Note: After submitting the form, you will need to pay ₹700. <br> 
        <strong>PhonePe:</strong> 9860775149 <strong> Google pay:</strong> 8087075149 <br>
        <strong>UPI ID:</strong> 9860775149&#64;ybl
    </div>
       
        
   
    <div *ngIf="isLoading" class="loader">
        Loading...
      </div>
      <div *ngIf="showSuccessPopup" class="success-popup">
        <p>Form Submitted Successfully!</p>
        <button (click)="closePopup()">Close</button>
      </div>
    <div class="d-flex justify-content-end mt-5">
        <button type="submit" class="btn btn-primary" style="margin-right: 10px;" [disabled]="form.invalid">Submit</button>
        <button type="button" class="btn btn-secondary"  (click)="clickCancel()">Cancel</button>
      </div>
    
    </form>

   


</div>

 <!-- <div class="d-flex justify-content-end mt-3" style="margin-top: auto;">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div> -->

<!-- [class.is-invalid]="form.get('age')?.invalid && form.get('age')?.touched" -->